.modalContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent i {
  font-size: 28px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.modalImage {
  width: 100%;
  height: 30rem;
  object-fit: contain;
}
